ul {
  list-style-type: none;
  text-align: center;
}

li {
  display: inline-block;
}

li a {
  display: block;
  font-size: 0.8em;
  padding: 15px;
}

li a img {
  display: block;
  width: 150px;
  margin-bottom: 5px;
}

li a span {
  color: #09C;
  font-size: 1.2em;
}

li a:hover {
  background-color: #ccc;
}

.selectedItem {
  background-color: #555;
}

#main-content {
  padding: 0px 300px;
  text-align: center;
}

nav {
  text-align: center;
}

h1 {
  color: #09C;
  font-style: italic;
  font-size: 1.5em;
  margin-bottom: 15px;
  margin: 0px auto;
}