ul {
  list-style-type: none;
  text-align: center;
}

li {
  display: inline-block;
}

li a {
  display: block;
  width: 150px;
  height: 150px;
  color: #aaa;
  font-size: 0.8em; 
}

li a:hover {
  background-color: #ccc;
}

.selectedItem {
  background-color: #555;
}

#main-content {
  padding: 0px 300px;
  text-align: center;
}

#main-content span {
  color: #09C;
  font-style: italic;
  font-size: 1.5em;
}